<HTML>

<head>
	<script src="/sally/static/jquery.js"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
</head>

<body>

	<div>
		<h3>Linking results</h3>
		<div id="linking-res">

			<div>
				Current word: <span id="current-word"></span> <br />
				<div id="variants" class=""></div>
			</div>
			<br>
			<button id="next">Next</button>
			<button id="prev">Previous</button>

		</div>
	</div>

	<script>
		/**
		 * The following variables should be comming from 
		 */

		function select(idx) {
			$.get("${headers.uuid}/select?idx="+idx, function() {});
		}

		function doLink(idx, variant) {
			$.get("${headers.uuid}/doLink?idx="+idx+"&variant="+variant, function() {});
		}
		
		var data = ${body};
		var current = 0;
		var template = '<button class="link-variant"><div>{{domain}}</div><div>{{concept}}</div><div>MSC: {{category}}</div></div>';

		function updatePositions(offset_begin, offset_end, newLen, oldIndex) {
			var diff = offset_begin - offset_end + newLen;
			var newIndex = -1;
			for (var i = 0, j = 0; i < data.length; ++i) {
				var t = data[i][0];
				// no intersection and before
				if (t.offset_end < offset_begin) {
					if (i > oldIndex && newIndex == -1) {
						newIndex = j;
					}
					data[j++] = data[i];
					continue;
				}
				if (t.offset_begin > offset_end) {
					data[i][0].offset_begin += diff;
					data[i][0].offset_end += diff;
					data[j++] = data[i];
					continue;
				}
				// remove everything that intersects
			}
			data = data.slice(0, j);
			if (newIndex == -1)
				newIndex = data.length - 1;
			return newIndex;
		}

		function populate(pos) {
			if (data.length == 0) {
				$("#linking-res").html("No linking results found");
				return;
			}
			if (pos == 0) {
				$("#prev").attr("disabled", true);
			} else {
				$("#prev").removeAttr("disabled");
			}
			if (pos >= data.length - 1) {
				$("#next").attr("disabled", true);
			} else {
				$("#next").removeAttr("disabled");
			}
			$("#current-word").text(data[pos][0].firstword);
			$("#variants").empty();
			for (var i = 0; i < data[pos].length; ++i) {
				var html = $.parseHTML(Mustache.render(template, data[pos][i]));
				$(html).click(
						i,
						function(e) {
							var idx = e.data;
							var elem = data[pos][idx];
							doLink(pos, idx);
							/*
							sallyClient.sendRequest(forward_destination, {
								"correlation-id" : forward_correlation_id
							}, {
								"action" : "insert",
								"offset_begin" : data[pos][0].offset_begin,
								"offset_end" : data[pos][0].offset_end,
								"replaceString" : elem.replaceString
							});
							*/
							pos = updatePositions(data[pos][0].offset_begin,
									data[pos][0].offset_end,
									elem.replaceString.length, pos);
							populate(pos);
						});
				$("#variants").append(html);
			}
			select(pos);
		}

		$("#prev").click(function() {
			current--;
			populate(current);
		});

		$("#next").click(function() {
			current++;
			populate(current);
		});
		
	populate(0);
	</script>


</body>
</HTML>